/*
- Mobile: 375px
- Desktop: 1440px
*/


/*
* BASIC
* MOBILE
* DESKTOP
*/

/* ---------------- BASIC ----------------- */

@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);

:root {


--StrongCyan: hsl(171, 66%, 44%);
--LightBlue: hsl(233, 100%, 69%);
--DarkGrayishBlue: hsl(210, 10%, 33%);
--GrayishBlue: hsl(201, 11%, 66%);

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font-size: 15px;
    width: 100vw;
    height: 100vh;
}
   
.main-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-desktop__logo {
    width: 10px;
    height: 10px;
    padding: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

.header-text {
    margin-left: -90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text h1 {
    color: var(--DarkGrayishBlue);
    padding: 20px;
    
    
    

}

.header-text p{
    color: var(--GrayishBlue);
    font-size: 17px;
}

.button1 {
    background-color: var(--StrongCyan);
    color:aliceblue;
    margin: 20px;
    margin-left: -20px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 150px;

}

.button2 {
    background-color: var(--LightBlue);
    color: aliceblue;
    margin: 20px;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 150px;
}

.text-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}

.text-container__text {
    margin-left: 700px;
    padding-bottom: 100px;
    
}

.text-container__text h2 {
    margin-left: 50px;
    color:var(--DarkGrayishBlue);
    padding-bottom: 20px ;



}

.text-container__text p {
    color:var(--GrayishBlue);
    font-size: 17px;
    margin-left: -50px;
}

.middle-container h2{
  color: var(--DarkGrayishBlue);  
  padding-bottom: 20px;
    
}
.middle-container p{
    color: var(--GrayishBlue);
    font-size: 17px;
}



.middle-container img {
    width: 45%;
    height: 630px;
    margin-left: -30px;
}

.middle-container-right {
    position: relative;
    left: 1000px;
    top: -500px;
    padding-bottom: 60px;
}
.middle-container-right2 {
    position: relative;
    left: 1000px;
    top: -500px;
    padding-bottom: 60px;
}
.middle-container-right3 {
    position: relative;
    left: 1000px;
    top: -500px;
}
.middle-container-right2 h2 {
    color: var(--DarkGrayishBlue);
    padding-bottom: 20px;
}

.middle-container-right2 p {
    color: var(--GrayishBlue);
    font-size: 17px;
}

.middle-container-right3 p {
    color: var(--GrayishBlue);
    font-size: 17px;
}


.middle-container-right3 h2 {
    color: var(--DarkGrayishBlue);
    padding-bottom: 20px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    

}

.bottom-container img {
    width: 40%;
    margin-left: 550px;
}

.bottom-container-text {
    margin-top: -200px;
    margin-left: -600px;
} 

.bottom-container-text h2 {
    color: var(--DarkGrayishBlue);
    padding-bottom: 20px;
    

}
.bottom-container-text p {
    color: var(--GrayishBlue);
    font-size: 17px;
    margin-left: -100px;
}
    


